




.article_ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  flex-wrap: wrap;
}

.article_li {
  margin-left: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 30%;
}

.block {
  border: 1px solid black;
}

.left {
  width: 80%;
  margin-right: 50px;
}

.right {
  width: 20%;
}

.flex {
  display: flex;
}
.db_table{
  margin-left: 20px;
}
