.left {
  margin-left: 80px;
  margin-right: 60px;
  width: 75%;

  p {
    font-size: 20px;
  }

  .subtitle {
    font-size: 30px;
    border-left: 4px solid red;
  }

  .block {
    margin-top: 60px;
    margin-bottom: 100px;
  }
}

.right {
  width: 25%;
  margin-right: 60px;
  text-align: center;

  .mokuji {
    margin-left: 20px;
    width: 90%;
    border: solid 1px black;
    position: sticky;
    top: 0;
  }

  a {
    text-decoration: none;
    color: #012e4b;
  }
  .chage_color {
    background-color: rgb(189, 183, 183);
  }


}
