.left{
  p {
      font-size: 20px;
    }
  margin-left: 80px;
  width: 75%;
}
.right{
  width: 25%;
  margin-right: 60px;
  text-align: center;
}
.subtitle {
  font-size: 30px;
}
.block{
  margin-top: 40px;
  margin-bottom: 70px;
}
a{
  text-decoration: none;
}
.gray{
  background-color: gray;
}
.mokuji{
  margin-left: 20px;
  width: 90%;
  border: solid 1px black;
}
