body {
  margin: 0 30px 0 30px;
}

header {
  background-color: aqua;
  margin-bottom: 50px;

  li {
    list-style: none;
    margin-right: 20px;
  }

  a:hover {
    color: red;
  }
}

.flex {
  display: flex;
}

.moji {
  font-size: 30px;
}

.article {
  margin-bottom: 30px;
  border: 1px solid black;
}

.center {
  text-align: center;
}
