body {
  background-color: rgb(240, 236, 236);
}

a {
  text-decoration: none;
  color: black;
}

.left {
  width: 80%;
  margin-right: 50px;

  li {
    list-style: none;
  }

  .article_ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    flex-wrap: wrap;
  }


  .article_li {
    margin-left: 20px;
    margin-bottom: 50px;
    text-align: center;
    width: 45%;
    height: 200px;
    background-color: white;
  }

  .block {
    border: 2px solid black;
    height: 100%;
  }

  .block:hover {
    border: 2px solid red;
  }

  .title {
    font-size: 27px;
  }

  .logo {
    width: 40px;
    height: 100%;
  }

  .block_upper_left {
    text-align: left;
    height: 20%;
    margin-bottom: 10px;
    color: black;
  }
  .logo_color{
    height:60%;
    background-color: aqua;
  }
}

.right {
  width: 20%;
  .category{
    border: 2px solid black;
    position: sticky;
    top: 20px;
    background-color: white;
  }
  a:hover{
    background-color: rgb(127, 192, 249);
  }
}
