body {
  margin: 0;
  background-color: rgb(240, 236, 236);
}
.content {
  margin: 0 30px 0 80px;
}
header {
  background-color: black;
  margin-bottom: 50px;
  color: #fff;

  li {
    list-style: none;
    margin-right: 20px;
  }

  button {
    border: none;
    outline: none;
    background: transparent;
  }

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: red;
  }
}
.red_line{
background: linear-gradient(transparent 60%, rgb(255, 102, 102) 60%);
}
.blue_line{
background: linear-gradient(transparent 60%, rgb(83, 83, 246) 60%);
}
.common_line{
background: linear-gradient(transparent 60%, rgb(137, 223, 38) 60%);
}

.flex {
  display: flex;
}

.moji {
  font-size: 30px;
}

.article {
  margin-bottom: 30px;
  border: 1px solid black;
}

.center {
  text-align: center;
}

footer{
  background-color: aqua;
}





//↓ドロップダウン
.menu>li.menu__single {
  position: relative;
}

.menu__second-level {
  position: absolute;
  top: 40px;
  width: 200px;
  background: rgb(33, 33, 228);
}

.menu__single:hover .menu__second-level {
  top: 50px;
  visibility: visible;
  opacity: 1;
}

.menu {
  position: relative;
  height: 50px;
  margin: 0;
}

.menu>li {
  float: left;
  width: 200px;
  /* グローバルナビ4つの場合 */
  height: 50px;
  line-height: 50px;
  background: rgb(33, 33, 228);
}

.menu>li a {
  display: block;
  color: #fff;
}


ul.menu__second-level {
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.menu__second-level li {
  border-top: 1px solid #111;
  width: 100%;
}
.menu__second-level {
  padding: 0;
}

.menu__second-level li a:hover {
  background: rgb(0, 0, 0);
}

/* floatクリア */
.menu:before,
.menu:after {
  content: " ";
  display: table;
}

.menu:after {
  clear: both;
}

.menu__single {
  text-align: center;
  margin-right: 70px;
}

// /* 下矢印 */
.init-bottom:after {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 0 0 15px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
//↑ドロップダウン

.pagetop {
  height: 50px;
  width: 50px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  background: #fff;
  border: solid 2px #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

}

.pagetop__arrow {
  height: 10px;
  width: 10px;
  border-top: 3px solid #000;
  border-right: 3px solid #000;
  transform: rotate(-45deg);
}
